
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    
    & form{
        flex:1 1 45rem;
        padding:2rem;
        margin:2rem;
        margin-bottom: 4rem;
    
        & .box{
            padding:1.5rem;
            margin:1rem 0;
            background:#3333;
            color:#fff;
            text-transform: none;
            font-size: 1.7rem;
            width:100%;
        }

        & .box::placeholder{
            text-transform: capitalize;
        }

        & .message{
            height: 15rem;
            resize: none;
        }
    }

    & .content{
        flex:1 1 30rem;
        padding:4rem;
        padding-bottom: 0;
    
        & .title{
            text-transform: uppercase;
            color:#fff;
            font-size: 3rem;
            padding-bottom: 2rem;
        }

        & .info h3{
            display: flex;
            align-items: center;
            font-size: 2rem;
            color:#eee;
            padding:1rem 0;
            font-weight: normal;
        }

        & .info h3 i{
            padding-right: 1rem;
            color:var(--yellow);
        }
    }
}





.top{
        position: fixed;
        bottom:7.5rem; right: 2rem;
        z-index: 100;
        display: none;
    }


@media (max-width:400px){



    .contact .row form{
        margin:3rem 0;
    }

}