
.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    
    & .box{
        height: 20rem;
        width:26rem;
        border-radius: 1rem;
        margin:2rem;
        overflow: hidden;
        cursor: pointer;
    
        & img{
            height:100%;
            width:100%;
            object-fit: cover;
        }
        & :hover img{
            transform: scale(1.2);
        }
    }
}





@media (max-width:400px){
    
    .portfolio .box-container .box{
        width:100%;
    }

}